<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (aluno(); as alunoRef) {
      <div>
        <h2 data-cy="alunoDetailsHeading"><span jhiTranslate="gestaoEscolarApp.aluno.detail.title">Aluno</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ alunoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.nome">Nome</span></dt>
          <dd>
            <span>{{ alunoRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.dataDeNascimento">Data De Nascimento</span></dt>
          <dd>
            <span>{{ alunoRef.dataDeNascimento | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.cpf">Cpf</span></dt>
          <dd>
            <span>{{ alunoRef.cpf }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.endereco">Endereco</span></dt>
          <dd>
            <span>{{ alunoRef.endereco }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.telefone">Telefone</span></dt>
          <dd>
            <span>{{ alunoRef.telefone }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.email">Email</span></dt>
          <dd>
            <span>{{ alunoRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.aluno.curso">Curso</span></dt>
          <dd>
            @for (curso of alunoRef.cursos; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/curso', curso.id, 'view']">{{ curso?.nome }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/aluno', alunoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
