<div>
  <h2 id="page-heading" data-cy="DisciplinaHeading">
    <span jhiTranslate="gestaoEscolarApp.disciplina.home.title">Disciplinas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gestaoEscolarApp.disciplina.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-disciplina"
        [routerLink]="['/disciplina/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestaoEscolarApp.disciplina.home.createLabel">Criar novo Disciplina</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (disciplinas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestaoEscolarApp.disciplina.home.notFound">Nenhum Disciplina encontrado</span>
    </div>
  }

  @if (disciplinas && disciplinas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nome">
              <div class="d-flex">
                <span jhiTranslate="gestaoEscolarApp.disciplina.nome">Nome</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codigo">
              <div class="d-flex">
                <span jhiTranslate="gestaoEscolarApp.disciplina.codigo">Codigo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cargaHoraria">
              <div class="d-flex">
                <span jhiTranslate="gestaoEscolarApp.disciplina.cargaHoraria">Carga Horaria</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="curso.id">
              <div class="d-flex">
                <span jhiTranslate="gestaoEscolarApp.disciplina.curso">Curso</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (disciplina of disciplinas; track trackId(disciplina)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/disciplina', disciplina.id, 'view']">{{ disciplina.id }}</a>
              </td>
              <td>{{ disciplina.nome }}</td>
              <td>{{ disciplina.codigo }}</td>
              <td>{{ disciplina.cargaHoraria }}</td>
              <td>
                @if (disciplina.curso) {
                  <div>
                    <a [routerLink]="['/curso', disciplina.curso.id, 'view']">{{ disciplina.curso.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/disciplina', disciplina.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/disciplina', disciplina.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(disciplina)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (disciplinas && disciplinas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
