<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (curso(); as cursoRef) {
      <div>
        <h2 data-cy="cursoDetailsHeading"><span jhiTranslate="gestaoEscolarApp.curso.detail.title">Curso</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ cursoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.nome">Nome</span></dt>
          <dd>
            <span>{{ cursoRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.descricao">Descricao</span></dt>
          <dd>
            <span>{{ cursoRef.descricao }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.duracao">Duracao</span></dt>
          <dd>
            <span>{{ cursoRef.duracao }}</span>
          </dd>
          <div class="table-responsive table-entities" id="entities">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <th scope="col" jhiSortBy="aluno">
                  <div class="d-flex align-items-center">
                    <span jhiTranslate="gestaoEscolarApp.curso.alunoList">Aluno</span>
                  </div>
                </th>
                <th scope="col"></th>
              </thead>
              <tbody>
                @for (aluno of cursoRef.alunos; track $index; let last = $last) {
                  <tr data-cy="entityTable">
                    <td>
                      <a [routerLink]="['/aluno', aluno.id, 'view']">{{ aluno?.nome }}</a
                      >{{ last ? '' : ', ' }}
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/curso', cursoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
