<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (curso(); as cursoRef) {
      <div>
        <h2 data-cy="cursoDetailsHeading"><span jhiTranslate="gestaoEscolarApp.curso.detail.title">Curso</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ cursoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.nome">Nome</span></dt>
          <dd>
            <span>{{ cursoRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.descricao">Descricao</span></dt>
          <div>
            <textarea class="form-control w-100" maxlength="255" rows="4">{{ cursoRef.descricao }}</textarea>
          </div>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.duracao">Duracao</span></dt>
          <dd>
            <span>{{ cursoRef.duracao }}</span>
          </dd>
          <dt><span jhiTranslate="gestaoEscolarApp.curso.alunoList">Alunos</span></dt>
          <dd>
            <div class="table-responsive table-entities" id="entities">
              <table class="table table-striped w-100" aria-describedby="page-heading">
                <tbody>
                  @for (aluno of cursoRef.alunos; track $index; let last = $last) {
                    <tr data-cy="entityTable">
                      <td>
                        <a [routerLink]="['/aluno', aluno.id, 'view']">{{ aluno?.nome }}</a
                        >{{ last ? '' : ' ' }}
                      </td>
                      <td></td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/curso', cursoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
