<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (ementa(); as ementaRef) {
      <div>
        <h2 data-cy="ementaDetailsHeading"><span jhiTranslate="gestaoEscolarApp.ementa.detail.title">Ementa</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="d-flex flex-column w-100">
          <dl class="row">
            <dt class="col-sm-1 mt-3"><span jhiTranslate="global.field.id">Código</span></dt>
            <dd class="col-sm-1 mt-3">
              <span>{{ ementaRef.id }}</span>
            </dd>
          </dl>
          <div class="row">
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-3 mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.disciplina">Disciplina</span></dt>
                <dd class="col-sm-8 mt-3">
                  @if (ementa()!.disciplina) {
                    <div>
                      <a [routerLink]="['/disciplina', ementa()!.disciplina?.id, 'view']">{{ ementaRef.disciplina?.nome }}</a>
                    </div>
                  }
                </dd>
              </dl>
            </div>

            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-3 mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.professor">Professor</span></dt>
                <dd class="col-sm-8 mt-3">
                  @if (ementa()!.professor) {
                    <div>
                      <a [routerLink]="['/professor', ementa()!.professor?.id, 'view']">{{ ementaRef.professor?.nome }}</a>
                    </div>
                  }
                </dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-3 mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.curso">Curso</span></dt>
                <dd class="col-sm-8 mt-3">
                  @if (ementa()!.curso) {
                    <div>
                      <a [routerLink]="['/curso', ementa()!.curso?.id, 'view']">{{ ementaRef.curso?.nome }}</a>
                    </div>
                  }
                </dd>
              </dl>
            </div>

            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-sm-5 mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.ultimaAlteracao">ultimaAlteracao</span></dt>
                <dd class="col-sm-8 mt-3">
                  <span>{{ ementaRef.ultimaAlteracao }}</span>
                </dd>
              </dl>
            </div>
          </div>
          <dt class="mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.descricao">Descricao</span></dt>
          <div>
            <textarea class="form-control w-100" maxlength="2000" rows="10">{{ ementaRef.descricao }}</textarea>
          </div>
          <dt class="mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.bibliografiaBasica">Bibliografia Basica</span></dt>
          <div>
            <textarea class="form-control w-100" maxlength="2000" rows="10">{{ ementaRef.bibliografiaBasica }}</textarea>
          </div>
          <dt class="mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.bibliografiaComplementar">Bibliografia Complementar</span></dt>
          <div>
            <textarea class="form-control w-100" maxlength="2000" rows="10">{{ ementaRef.bibliografiaComplementar }}</textarea>
          </div>
          <dt class="mt-3"><span jhiTranslate="gestaoEscolarApp.ementa.praticaLaboratorial">Pratica Laboratorial</span></dt>
          <div>
            <textarea class="form-control w-100" maxlength="2000" rows="5">{{ ementaRef.praticaLaboratorial }}</textarea>
          </div>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/ementa', ementaRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
