<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-nota-heading" data-cy="NotaCreateUpdateHeading" jhiTranslate="gestaoEscolarApp.nota.home.createOrEditLabel">
        Criar ou editar Nota
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gestaoEscolarApp.nota.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let pontuacaoRef = editForm.get('pontuacao')!;
        <div class="mb-3">
          <label class="form-label" for="field_pontuacao" jhiTranslate="gestaoEscolarApp.nota.pontuacao">Pontuacao</label>
          <input type="number" class="form-control" name="pontuacao" id="field_pontuacao" data-cy="pontuacao" formControlName="pontuacao" />
          @if (pontuacaoRef.invalid && (pontuacaoRef.dirty || pontuacaoRef.touched)) {
            <div>
              @if (editForm.get('pontuacao')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('pontuacao')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        @let dataRef = editForm.get('data')!;
        <div class="mb-3">
          <label class="form-label" for="field_data" jhiTranslate="gestaoEscolarApp.nota.data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (dataRef.invalid && (dataRef.dirty || dataRef.touched)) {
            <div>
              @if (editForm.get('data')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disciplina" jhiTranslate="gestaoEscolarApp.nota.disciplina">Disciplina</label>
          <select
            class="form-control"
            id="field_disciplina"
            data-cy="disciplina"
            name="disciplina"
            formControlName="disciplina"
            [compareWith]="compareDisciplina"
          >
            <option [ngValue]="null"></option>
            @for (disciplinaOption of disciplinasSharedCollection; track $index) {
              <option [ngValue]="disciplinaOption">{{ disciplinaOption.nome }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aluno" jhiTranslate="gestaoEscolarApp.nota.aluno">Aluno</label>
          <select class="form-control" id="field_aluno" data-cy="aluno" name="aluno" formControlName="aluno" [compareWith]="compareAluno">
            <option [ngValue]="null"></option>
            @for (alunoOption of alunosSharedCollection; track $index) {
              <option [ngValue]="alunoOption">{{ alunoOption.nome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
